@charset "UTF-8";
html {font-size: 100%;}

body {background-color:#F7F9FB;
	line-height: 1.6;
}

img {border-style: none;
	max-width: 100%;
}
	

.wrapper{
	margin: 0 auto 0 auto;
	width: 900px; /*XXX*/
	}
h2 {color: #033453;
	font-size: 20px;
	border-bottom-width: 2px;
	border-bottom-style: dotted;
	border-bottom-color: #033453;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20p;
	margin-left: 0px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 0px;
	}
h3 {color: #910C07;
	font-size: 16px;
	}

p{
		line-height: 160%;
		color : #000000;
		text-align: justify
}

a:link{color: #000000;}
a:visited{color: #000000;}
a:hover{color: #F48153;}
a:active{color: #F48153;}

#footer{
		margin-top: 30px;
		background-color: #033453;/* 5085A5*/
}
#footer p{
	color: #F7F9FB;
	margin: 0 0 10 0 ;
	padding: 5px 30px 5px 30px;
	text-decoration: none;
}

#scroll {
		overflow-y: scroll;
		height: 200px;
}

table.news tr { /************/
	/* margin: 8px 0px 8px 8px;*/
	text-align: left;
	border-collapse: collapse;
	padding-bottom: 10 em; /**/
}
table.news th {
	vertical-align: top;
}
table.news td {
	vertical-align: top;
	border-bottom: solid 1px #7b7e80;
}



.fig{
	text-align: center;
	margin-top: 30px; 
}
p.caption{	font-style: italic;
			margin-top: -5px;
			text-align: center
}



/* Individual Styles*/
/*index.html */
.TOC{margin: 0px 0 0 0;}
/* .news_item{margin: 0 100 0 0 ;}*/
	
/*about.html */
.float img {
	float: left;
	padding-right: 1em;
}

table.info{
	border-collapse: collapse;
	border: 1px solid #033453;
}
table.info th, table.info td{
	padding: 8px 8px 8px 8px;
	border: 1px solid #033453;
	text-align: left;
	vertical-align: middle;
}
table.info th{
	background-color: #F7F9FB;
	color: #033453;
}




.navbar {
	overflow: hidden;
	font-family: Arial;
	margin: 0 0 5 0;
	padding: 1px 15px;
	background-color: #033453;
  }

  
/* Links inside the navbar */
.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 0px 20px 10px;
	text-decoration: none;
  }
  
.navbar li{
	display: inline;
	list-style-type: none;
	padding-right: 0px;
}

.navbar li ul {
	position: absolute;
	top: 100%;
	display: block;
	background-color: #033453;
	padding: 0 0 0 0;
	}

.navbar li a:link{
	color: #F7F9FB;
	text-decoration: none;
}

.navbar li a:active{
	color: #F48153; /* not sure what this is for*/
	text-decoration: none;
}
.navbar li a:visited{
	color: #F7F9FB;
	text-decoration: none;
}
.navbar li a:hover{
	color: #F48153;
	text-decoration: none;	
}

  /* The dropdown container */
.dropdown {
	float: left;
	overflow: hidden;
	display: inline-block;
}
  
  /* Dropdown button */
  .dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 0px 20px;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
  }
    
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 1600px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
	background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	display: block;
  }

