@charset "UTF-8";
body {
	background-color: #F7F9FB;
}

.wrapper {
	margin: 0 auto;
	max-width: 900px;
	width: 100%;
	padding: 0 20px;
}

h2 {
	color: #033453;
	font-size: 20px;
	border-bottom: 2px dotted #033453;
	margin: 20px 0;
	padding: 10px 5px 3px;
}

h3 {
	color: #910C07;
	font-size: 16px;
}

p {
	line-height: 160%;
	color: #000000;
	text-align: justify;
}

a:link, a:visited {
	color: #000000;
	text-decoration: none;
}

a:hover, a:active {
	color: #F48153;
	text-decoration: none;
}

img {
	border-style: none;
	max-width: 100%;
	height: auto;
}

/* For all pages - nav */
#nav li {
	display: inline;
	list-style-type: none;
	margin-right: 15px;
}

#nav {
	margin: 0;
	padding: 10px;
	background-color: #033453;
}

#nav li a {
	color: #F7F9FB;
	text-decoration: none;
}

#nav li a:hover {
	color: #F48153;
}

#footer {
	margin-top: 30px;
	background-color: #033453;
	color: #F7F9FB;
	padding: 10px;
}

#scroll {
	overflow-y: scroll;
	height: 200px;
}

table.news {
	padding: 8px;
	text-align: left;
	border-collapse: collapse;
}

.fig {
	text-align: center;
	margin-top: 30px;
}

p.caption {
	font-style: italic;
	margin-top: -5px;
	text-align: center;
}

/* Individual Styles */

/* index.html */
.TOC {
	margin: 0;
}

.news_item {
	margin: 0 0 20px;
}

/* about.html */
.float img {
	float: left;
	padding-right: 1em;
}

table.info {
	border-collapse: collapse;
	border: 1px solid #033453;
}

table.info th,
table.info td {
	padding: 8px;
	border: 1px solid #033453;
	text-align: left;
	vertical-align: middle;
}

table.info th {
	background-color: #F7F9FB;
	color: #033453;
}