@charset "UTF-8";

/*
GENERAL STYLING
================================================ */
:root {
	--main-color: #06466e;
	--off-main-color: #0e4c72;
	--sub-color: #BB1109;
	--sub-sub-color: #F48153;
	--off-white: #F7F9FB;
}

html {
    font-size: 100%;
}

body { 
	background-color:var(--off-white);	
	font-family: sans-serif;
}

img { border-style: none;
	max-width: 100%;
}

h2 {color: var(--main-color);
	font-size: 1.5rem;
	font-weight:bold;
	border-bottom-width: 2.5px;
	border-bottom-style: dotted;
	border-bottom-color: var(--main-color);
	padding-top: 10px;
	padding-left: 10px;
	margin-bottom: 0.5rem;
	}

h3 {color: var(--sub-color);
	font-size: 1.2rem;
	font-weight:bold;
	padding: 20px 0px 5px;
	text-decoration: underline var(--sub-color)
	}

p, th, td {
	line-height: 120%;
	color : #000000;
	text-align: justify;
	padding-bottom: 0.5rem;
}

a {
	text-decoration: underline grey;
}
a:hover {
	color: var(--sub-sub-color);
	text-decoration: underline var(--sub-sub-color);
}
/*
a:link {color: black;}
a:visited {color: black;}
a:active {color: var(--sub-sub-color);}
*/
ol {
	list-style-type: decimal;
}
li {
	margin-bottom: 0.5rem;
}

/* SPECIFICS
================================================ */	
.wrapper {
	width: 900px;
    margin: 0 auto;
    /* padding: 0 0; */
	/* display:flex; */	
}
/*=====main navbar=====*/
.navbar ul {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	margin:0;
	padding:0;
	background-color: var(--main-color);
}

.navbar li {
	overflow:visible; 
	display: block;
	flex: 0 1 auto;
	list-style-type:none;
	background-color: var(--main-color);
	margin: 0.5rem 0rem;
}

.navbar a {
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 0 1rem;
  }

.navbar a:hover{
	color: var(--sub-sub-color);
}  

/* =====navbar language===== */
li.lang_toggle {
	width:6rem;
}

/* =====navbar dropdown===== */
li.dropdown {
	position:relative;
}
.dropdown ul {
	position:absolute;
	/* top:0rem;  */
	display:none;
	/* display:block; */
	box-shadow: 3px 5px 3px rgba(0,0,0,0.5);
	z-index: 1;
	list-style-type:none;
}

/* .navbar li:hover ul{ */
.dropdown:hover ul {
	display:block;
}

.dropdown li {
	background-color: var(--off-main-color);
	overflow:visible; 
	padding: 0.3rem 0rem;	
	/* flex: 0 1 auto; */
	/* padding: 0.5rem 1rem; */
}
.dropdown li:hover {
	background-color: #ddd;
}
.dropdown li:hover a {
	color: var(--sub-sub-color)
}


/* =====footer===== */
#footer {
	background-color: var(--main-color);
	margin-top: 30px;
}

#footer p {
	color: var(--off-white);	
	text-align: center;
	padding: 2px;
}

/* =====footer===== */
#scroll {
		overflow-y: scroll;
		height: calc(45vh);
}



/* 
Individual Styles
================================================ */
/*index.html */
.toc {
	text-align: center;
	margin-top: 30px; 
}
p.caption{	
	font-style: italic;
	text-align: center
}

.news tr {
	text-align: left;
	border-bottom: solid 1px #7b7e80;
}
.news td {
	padding: 0.5rem; 
} 
.news th {
	padding: 0.5rem; 
} 

/*about_me.html */
.main li::before {
	content: "";
	width: 0.3rem;
	height: 0.3rem;
	margin: 0.25rem 0.5rem 0.25rem 0.25rem; 
	border-radius: 50%;
	background: var(--main-color);
	display: inline-block;
}
.float img {
	float: left;
	padding-right: 1rem;
}

table.info{
	border-collapse: collapse;
	border: 1px solid var(--main-color);
}
table.info th, table.info td{
	padding: 8px 8px 8px 8px;
	border: 1px solid var(--main-color);
	text-align: left;
	vertical-align: middle;
}
table.info th{
	background-color: #F7F9FB;
	color: var(--main-color);
}





/* MOBILE SIZE I don't think its being applied
================================================ 
@media screen and (max-width: 700px) {
	.navbar a {
		font-size:20px;
	  float: none;
	  display: block;
	  width: 100%;
	  text-align: left;
	}
  }

 

@media (max-width: 700px)  {
	.navbar {
		font-size: 1rem;
		margin-top: 10px;
	}
	.navbar li {
		margin: 0 200px;
	}
	.page-header {
		flex-direction: column;
		align-items: center;
	}
}
*/